---
import { imageMetadata } from "astro/assets/utils";
import PocketBase from "pocketbase";

const pb = new PocketBase('http://127.0.0.1:8090')
const entries = await pb.collection('posts').getList(1,5,{
    sort: '-publish_date',
})

---

<main class="mb-auto py-8">

  <ul >
    {entries.items.map((item:any)=> (
        <li class="pb-12">

            <dl>
            <dt class="sr-only">Published on</dt>
          </dl>
          <div class="space-y-5 xl:col-span-3">
            <div>
              <div class="">
                    <a
                      class="text-indigo-700 hover:text-primary-600 dark:hover:text-primary-400 mr-3 text-sm font-medium "
                      href="/tags/next-js">{item.main_category}</a>
              </div>
                <h2 class="text-2xl leading-8 font-bold tracking-tight">
                  <a
                    class="text-gray-800 dark:text-gray-100"
                    href="/blog/release-of-tailwind-nextjs-starter-blog-v2.0"
                    >{item.title}</a>
                </h2>
                <div
                class="prose max-w-none text-gray-600 dark:text-gray-400"
              >
                {item.abstract}
              </div>
              <div class="pt-4">
                <dd
              class="text-base leading-6  text-gray-400 dark:text-gray-300"
            >
              <time datetime={item.publish_date}>{  
              () => {
                const localDate = new Date(item.publish_date)
                const formatedDate = `${localDate.getDate()} de ${localDate.toLocaleString('default', { month: 'long' })}, ${localDate.getFullYear()}`  
                return formatedDate;
              }
              } </time>
            </dd>
              </div>
          </div>

        </div>

        </li>

    ))}


  </ul>
</main>
