---
import { imageMetadata } from "astro/assets/utils";
import { getCollection } from "astro:content";
import Time from "../Time.astro";
import TagList from "./TagList.astro";

const allBlogPosts = await getCollection("blog_posts");
const orderPost = allBlogPosts.sort((a:any, b:any) => {
  return b.data.published_at - a.data.published_at;
});

---



<main class="mb-auto py-8">
  <div class="pb-12 font-bold">
    <TagList/>
  </div>

  <ul >
    {allBlogPosts.map((item:any)=> (

        <li class="pb-12">
           <a href={
            `/${item.data.main_category.replaceAll(" ","-").toLowerCase()}/${item.data.content_id}`
           }> 
            <dl>
            <dt class="sr-only">Published on</dt>
          </dl>
          <div class="space-y-5 xl:col-span-3">
            <div>
              <div class="text-blue-700 hover:text-primary-600 dark:hover:text-primary-400 mr-3 text-sm font-medium">
                    {item.data.main_category}
              </div>
                <h2 class="text-2xl leading-8 font-bold tracking-tight">
                  {item.data.title}
                </h2>
                <div
                class="prose max-w-none text-gray-600 dark:text-gray-400"
              >
                {item.data.abstract}
              </div>
              <div class="pt-4">
                <dd
              class="text-base leading-6  text-gray-400 dark:text-gray-300"
            >
              <Time date={item.data.published_at} />
            </dd>
              </div>
          </div>

        </div>
        </a>

        </li>

    ))}


  </ul>
</main>