---
import Time from '../../components/Time.astro';
import "../../styles/global.css";

import { getCollection, render } from "astro:content";

const { Content,post } = Astro.props;


---
<main class="mb-auto py-8">
  <div class="text-center pb-20">
    <div class="text-xl text-blue-700 underline underline-offset-8">{post.data.main_category}</div>
    <h1 class="text-5xl font-bold py-2">
      {post.data.title}
    </h1>
    <div class="text-gray-600">
      <Time date={post.data.published_at} />
    </div>
</div>
<div class="font-sans text-xl font-light text-gray-600">
<Fragment set:html= {post.data.content}/>
</div>

</main>
{Content}