---
      import Database from "better-sqlite3";

        const db = new Database('src/data/blog.db');
        const query = `SELECT * FROM posts ORDER BY published_at DESC`;
        const data = db.prepare(query).all();
        db.close();

        

---

<h1>Test</h1>
<div class="overflow-x-auto">
  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-50">
        <th
          class="px-4 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider border-b"
          >Publicado</th
        >
        <th
          class="px-4 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider border-b"
          >Título</th
        >
        <th
          class="px-4 py-3 text-left text-sm font-medium text-gray-600 uppercase tracking-wider border-b"
          >Status</th
        >
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200">
      {        
        data.map((item: any) => {
        const currentTimestamp = new Date().getTime();
        const itemTimestamp = new Date(item.published_at).getTime()
        const itemIdURL = `/editor/create-post?post_id=${item.id}`

        const addStatusButtonColor = currentTimestamp > itemTimestamp ? "bg-green-100 text-green-800" : "bg-yellow-100 text-yellow-800";

        let statusButtonCss = "px-2 py-1 text-xs font-medium rounded-full " + addStatusButtonColor;
          return (
            <tr data-post-id={item.id} class="hover:bg-gray-50 transition-colors">
              <td class="px-4 py-4 text-sm text-gray-900">
                {new Date(item.published_at).toLocaleDateString()}
              </td>
            
              <td class="px-4 py-4 text-sm text-gray-600"><a href={itemIdURL}>{item.title}</a></td>
              <td class="px-4 py-4 text-sm">
                <span class={statusButtonCss}>
                  {currentTimestamp > itemTimestamp ? "Published" : "Scheduled"}
                </span>
              </td>
            </tr>
            
          );
        })
      }
    </tbody>
  </table>
</div>
